
{% extends "encyclopedia/layout.html" %}

{% block title %}
    404 error
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 style="width: 100%; text-align: center;">
                    Oops!</h1>
                <h2 style="width: 100%; text-align: center;">
                    404 Not Found</h2>
                <div style="width: 100%; text-align: center; font-size: 1.5rem;" class="error-details">
                    Sorry, The page you requested is not available!
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
