{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    <h1>Resutls</h1>
    <p style="font-size: 20px;">all the results that have <span style="color: blue;">{{ keyWord }}</span>, are the following: <p>
    <hr>

    <ul>
        {% for entry in entries %}
            <li><a href="{% url 'encyclopedia:entry' title=entry%}">{{ entry }}</a></li>
            {% empty %}
            <h3>There are no results!</h3>
        {% endfor %}
    </ul>

{% endblock %}
